@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #1F2937;
}
.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.container-2 {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.head-text {
    list-style: none;
}
